body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
 
#form{
    width:400px;
    margin:10vh auto 10vh auto;
    background-color: #f5f5f5ec;
    border-radius: 5px;
    padding:30px;
}
 
h1{
    text-align: center;
    color:#0a0479;
}
 
#form button{
    background-color: #0a0479;
    color:white;
    border: 1px solid #0a0479;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:49%;
}

#fullname,
#age{
    background-color: rgb(194, 194, 194);
}
 
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}
 
.input-group input{
    border-radius: 5px;
    font-size:15px;
    margin-top:5px;
    padding:10px;
    border:1px solid #3333c7 ;
}
 
.input-group input:focus{
    outline:0;
}
 
.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}
 
.input-group.success input{
    border-color: #0cc477;
}
 
.input-group.error input{
    border-color:#ce4343;
    background-color:#ce434369 ;
}

